@import "_reset.scss";
@import "../css/app.css";

// Font-Awesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

// VARIABLES *******************************************************************

$llg: #798397;
$lg: #434a57;
$mg: #2c313a;
$mgalpha: rgba(60, 66, 78, 0.3);
$dg: #21252b;
$bg: #21252b;
$fg: #ebecf0;
$mfg: #bcbdc2;
$code: #53a879;
$code2: #d17e50;
$code3: #ac6fdd;
$code4: #467cc2;
$code5: #cf6c72;

// DESIGN **********************************************************************

body {
    padding-top: 2em;
    background-image: url("/img/bgtile.png");
    background-repeat: repeat;
    background-color: $bg;
    color: $fg;

    // System Font Stack
    font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto,
        Helvetica, Arial, sans-serif;
}

.page-container {
    min-width: 365px;
    max-width: 1000px;
    margin: auto;
}

// HEADERS ***********************************************************

h1,
h2 {
    font-weight: bold;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}

// BUTTONS ***********************************************************

a.button {
    display: inline-block;
    position: relative;
    transition: border 0.5s ease-out, color 0.5s ease-out, top 0.15s ease-out,
        box-shadow 0.15s ease-out;

    top: 0em;
    box-shadow: 0px 6px 11px -2px rgba(0, 0, 0, 0);
    margin-right: 0.5em;
    margin-bottom: 0.75em;
    height: 1em;
    line-height: 1em;

    &:link,
    &:visited {
        color: $code4;
        text-decoration: none;
        border: 1px solid $code4;
        padding: 0.5em 1em 0.5em 1em;
        border-radius: 0.7em;
    }

    &:hover {
        top: -0.25em;
        color: $code3;
        border-color: $code3;
        box-shadow: 0px 6px 11px -2px rgba(0, 0, 0, 0.57);
    }

    span {
        padding-left: 0.75em;
    }

    &:last-child {
        margin-right: 0;
    }
}

strike {
    color: $lg;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

.project-flex {
    display: flex;
    flex-direction: row;

    .item {
        padding-left: 1em;

        &.image {
            padding-left: 0em;
            min-width: 45%;
            min-height: 20em;

            .img {
                width: 100%;
                height: 100%;
                text-align: center;
                img {
                    width: 100%;
                    max-width: 300px;
                    margin-bottom: 2em;
                    border-radius: 0.5em;
                    border: 1px solid #777777;
                }
            }
        }
    }
}

// SECTIONS **********************************************************

section {
    margin: 2em;
    padding: 2em;
    border-radius: 1em;
    color: $mfg;

    &.top {
        margin: 0;
        padding: 0;
        text-align: center;

        img {
            transform: scale(0.75);
            transition: all 0.5s linear;
            border-radius: 100em;
            border: 0.5em solid $lg;

            &:hover {
                border-color: $code3;
                border-radius: 0em;
                transform: scale(0.8);
            }
        }
        h1,
        h2 {
            margin-left: 2em;
            margin-right: 2em;
            margin-bottom: 0.25em;
            span.sub {
                color: $llg;
            }
        }
        h2 {
            margin-bottom: 1.5em;
            color: $lg;
        }

        p {
            margin: 1.7em;
            padding: 1.7em;
            border-radius: 1em;
            background-color: $dg;
            font-size: 1.25em;
            line-height: 1.2em;

            span {
                font-weight: bold;
                &.code {
                    color: $code;
                }
                &.code2 {
                    color: $code2;
                }
                &.code3 {
                    color: $code3;
                }
            }
        }

        nav {
            margin-bottom: 3em;
            margin-left: 2.5em;
            margin-right: 2.5em;
        }
    }

    &.project {
        background-color: $mgalpha;
        sub {
            display: block;
            color: $lg;
            text-transform: uppercase;
            text-align: center;
            font-weight: bold;
        }
        h1 {
            color: $code4;
            font-size: 1.5em;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 1em;
        }
        h2 {
            font-size: 1em;
            color: $code5;
            text-transform: uppercase;
            margin-bottom: 0.5em;

            &.solution {
                color: $code;
            }

            &.notes {
                color: $code3;
            }
        }
        div.tech {
            text-align: center;
            margin-bottom: 2em;

            i {
                margin-right: 0.25em;
                font-size: 2em;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        p {
            font-size: 1.1em;
            line-height: 1.25em;
            padding-left: 1em;
            margin-bottom: 0.75em;

            a:link,
            a:visited {
                transition: color 0.2s;
                color: $code4;
                text-decoration: none;

                &:hover {
                    color: $code3;
                }
            }
        }

        nav {
            margin-left: 1em;
            display: block;
            margin-top: 3em;
            line-height: 3em;
        }
    }
}

// MEDIA QUERIES *****************************************************
@media screen and (max-width: 550px) {
}

@media screen and (max-width: 576px) {
    body {
        font-size: 14px;
    }
    section.top {
        h1 {
            font-size: 1.6em;
        }

        h2 {
            font-size: 1.4em;
        }
    }
    section.project {
        p {
            padding-left: 0em;
        }
        nav {
            margin-left: 0em;
            text-align: center;
        }
    }
    .project-flex {
        flex-direction: column;
    }
}
